<section class="bg-half bg-light d-table w-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h2>{{ page.title }}</h2>
                    <div class="page-next">
                        <nav aria-label="breadcrumb" class="d-inline-block">
                            <ul class="breadcrumb bg-white rounded shadow mb-0">
                                <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}">Beranda</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

{% assign categories = '' | split: '' %}
{% for gallery in site.gallery %}
    {% assign category = gallery.category | escape %}
    {% assign categories = categories | push: category %}
{% endfor %}
{% assign categories = categories | uniq %}

<section class="section">
    <div class="container">
        <div class="row">
            <ul class="col container-filter list-unstyled categories-filter text-center" id="filter">
                <li class="list-inline-item"><a class="categories border d-block text-dark rounded active" data-filter="*">All</a></li>
                {% for category in categories %}
                    <li class="list-inline-item"><a class="categories border d-block text-dark rounded" data-filter=".{{ category | escape | downcase }}">{{ category | upcase }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row container-grid projects-wrapper">
            {% for gallery in site.gallery %}
                <div class="col-lg-3 col-md-6 col-12 spacing mt-3 {{ gallery.category | escape | downcase }}">
                    <div class="card border-0 work-container work-grid position-relative d-block overflow-hidden rounded">
                        <div class="card-body p-0">
                            <a class="mfp-image d-inline-block" href="{{ gallery.image }}" title="{{ gallery.title | escape }}">
                                <img src="{{ gallery.image }}" class="img-fluid" alt="work-image">
                            </a>
                            <div class="content bg-white p-3">
                                <h5 class="mb-0"><a href="javascript:void(0)" class="text-dark title">{{ gallery.title | escape }}</a></h5>
                                <h6 class="text-muted tag mb-0">{{ gallery.subtitle | escape }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
