/* Override Toastr color */
#toast-container > div {
    -webkit-box-shadown: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
}

.toast {
    background-color: #030303 !important;
}

/* custom toastr success */
.toast-success {
    background-color: #00cb18 !important;
}

/* custom toastr error */
.toast-error {
    background-color: #ef5137 !important;
}

/* custom toastr info */
.toast-info {
    background-color: #4b8df8 !important;
}

/* custom toastr warning */
.toast-warning {
    background-color: #ffb848 !important;
}

.toast-title,
.toast-message {
    text-align: left !important;
}

/* Heartbeat */
.mdi-heart.text-danger {
    font-size: 1.15rem;
    animation: heartbeat 1s infinite;
    position: relative;
    display: inline-block;
}

@keyframes heartbeat {
    0% {
        transform: scale(0.75);
    }

    20% {
        transform: scale(1);
    }

    40% {
        transform: scale(0.75);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(0.75);
    }
}

/* Tag Cloud */
footer .tagcloud > a:hover {
    background: #2f55d4;
    color: #ffffff;
}

footer .tagcloud > a {
    background: #e9ecef;
    color: #3c4858;
    display: inline-block;
    font-size: 9px;
    letter-spacing: 1px;
    margin: 5px 5px 5px 0;
    padding: 8px 12px 7px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: 600;
}

/* Sticky Bar */
.sticky-bar {
    top: 105px !important;
}

@media(min-width: 1024px) {
    .job-profile {
        top: 0;
        margin-top: -378px;
    }
}

.article-style img {
    max-width: 100%;
    height: auto;
}

iframe#st_gdpr_iframe {
    display: none;
}

.about-author {
    margin-top: unset;
}

.header-author {
    display: block;
}

@media(max-width: 768px) {
    .about-author {
        margin-top: 3.5rem !important;
    }

    .header-author {
        display: none !important;
    }
}

a,
a:hover,
a:active,
a:focus {
    outline: none;
}
