<header id="topnav" class="defaultscroll sticky bg-white">
    <div class="container">
        <div>
            <a class="logo" href="{{ '/' | relative_url }}" title="{{ site.data.settings.school.name }}">
                <img src="{{ site.data.settings.general.logo }}" height="45" alt="{{ site.data.settings.school.name }}">
            </a>
        </div>
        <div class="buy-button">
            {% capture login_button_rel %}
                {% if site.data.menus.login.robots %}
                    rel="{{ site.data.menus.login.robots }}"
                {% endif %}
            {% endcapture %}

            <a href="{{ site.data.menus.login.url }}" {{ login_button_rel | strip }} target="_blank" class="btn btn-primary">{{ site.data.menus.login.title }}</a>
        </div>
        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>

        <div id="navigation">
            <ul class="navigation-menu">
                {% for item in site.data.menus.navbar.items %}
                    {% if item.children %}
                        <li class="has-submenu">
                            <a href="javascript:void(0)">{{ item.title }}</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                {% for item in item.children %}
                                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="buy-menu-btn d-none">
                <a href="{{ site.data.menus.login.url }}" {{ login_button_rel | strip }} target="_blank" class="btn btn-primary">{{ site.data.menus.login.title }}</a>
            </div>
        </div>
    </div>
</header>
